
.assurance-section {
 
    width: 371px;
    
    padding-left: 41px;
    background-color: #fff;
    margin:5px 0;
  }
  
  .assurance-section .left {
    align-items: left;
    flex: 1;
  }
  
  .left h2 {
    font-size: 14px;
    font-weight: 700;
    color: #181721;

  }
  
  .left p {
    font-family: var(--familyprimary);
font-size: 11px;
font-weight: 400;
line-height: 14.33px;
text-align: left;
color: #495057;

  }
  .assurance-card {
    min-width: 300px;
    background-color: #f0f4ff;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    scroll-snap-align: center;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .assurance-card .icon {
    margin-left: 10px;
    font-size: 19px;
    color: #4a90e2;
  }
  
  .assurance-card h3 {
    font-family: DM Serif Display;
font-size: 20px;
font-weight: 400;
line-height: 20px;
text-align: left;
margin-bottom: 5px;
    color: #333;
  }
  
  .assurance-card p {
    font-family: Hanken Grotesk;
    font-size: 11px;
    font-weight: 400;
    line-height: 14.63px;
    text-align: left;
    color: gray;
  }
  

  